h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
body {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a,
button {
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  min-width: 350px;
  max-width: 411px;
  padding: 80px 10px;
}

body {
  color: black;
  max-width: 411px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;

  background: rgba(240, 249, 255, 1);
  background-attachment: fixed;
  background-size: cover;
  /* color: #ffffff; */
  text-shadow: -1px -1px 0 lightblue,
    /* світло-синя рамка зліва вгорі */ 1px -1px 0 lightblue,
    /* світло-синя рамка справа вгорі */ -1px 1px 0 lightblue,
    /* світло-синя рамка зліва внизу */ 1px 1px 0 lightblue; /* світло-синя рамка справа внизу */
}

.auth-buttons,
.menu {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header {
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}

.main-logo-text {
  margin-left: 25px;
}

.container-section-one,
.container-section-two,
.container-section-three,
.container-section-four,
.container-section-fouter,
.container-section-five,
.container-section-designer,
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* відкриття мобільного меню ксс ПОЧАТОК */
/* В стилях додаємо накладку для мобільного меню */
.mobile-menu-overlay {
  display: none; /* Спочатку накладка прихована */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9; /* Щоб вона була поверх основного контенту */
}

.mobile-menu.open ~ .mobile-menu-overlay {
  display: block; /*Показати накладку, коли меню відкрите  */
}

/* Мобільне меню */
.mobile-menu {
  padding: 10px 30px;
  position: fixed;
  top: 0;
  right: -100%; /* Початково приховане за межами екрану */
  width: 80%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10; /* Вище накладки */
  transition: right 0.5s ease-in-out;
}

.mobile-menu.open {
  right: 0; /* Відкривається в межах екрану */
}

.close-mobile-menu {
  border: none;
  padding: 0;
  background-color: transparent;
}

.mobile-menu-btn {
  text-align: right;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mobile-menu-link {
  color: #22343d;
}

.mobile-menu-social-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.mobile-full-item {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.main-logo-button-svg {
  background-color: transparent;
}

.burger-menu {
  background-color: transparent;
}

/* відкриття мобільного меню ксс КІНЕЦЬ */

.social-title {
  margin-bottom: 20px;
}

.social-icons-two {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
/* section-header Секція хедер */
/* main-foto Секція головного фото */
.container-main-foto {
  font-size: 45px;
  background-image: url("../images/programming-background-collage411.jpg");
  color: aliceblue;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

/* section-one Секція один */
/* section-two Секція два */
.container-section-two {
  padding-top: 0;
  padding-bottom: 0;
}
/* section-three - Секція три */

.container-section-three {
  text-shadow: -1px -1px 0 lightblue,
    /* світло-синя рамка зліва вгорі */ 1px -1px 0 lightblue,
    /* світло-синя рамка справа вгорі */ -1px 1px 0 lightblue,
    /* світло-синя рамка зліва внизу */ 1px 1px 0 lightblue; /* світло-синя рамка справа внизу */
}

.container-section-three-ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  width: 390px;
  flex-wrap: wrap; /* Дозволяє переносити елементи на новий рядок, якщо не вміщуються */
}

.container-section-three-ul-all {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container-section-three-ul .container-section-three-li {
  position: relative;
  transition: transform 0.3s ease;
  flex-shrink: 0; /* Перешкоджає стисненню елементів */
}

/* Сходинки — для Фронтенду */
.container-section-three-ul .container-section-three-li:nth-child(1) {
  transform: translateX(0px);
}
.container-section-three-ul .container-section-three-li:nth-child(2) {
  transform: translateX(35px);
}
.container-section-three-ul .container-section-three-li:nth-child(3) {
  transform: translateX(55px);
}
.container-section-three-ul .container-section-three-li:nth-child(4) {
  transform: translateX(75px);
}
.container-section-three-ul .container-section-three-li:nth-child(5) {
  transform: translateX(100px);
}

/* Сходинки — для Інструментів */
.container-section-three-ul .container-section-three-li:nth-child(6) {
  transform: translateX(0px);
}
.container-section-three-ul .container-section-three-li:nth-child(7) {
  transform: translateX(10px);
}
.container-section-three-ul .container-section-three-li:nth-child(8) {
  transform: translateX(20px);
}

.container-section-three-h {
  font-size: 35px;
}

.container-section-three-p {
  font-size: 25px;
}

/* section-four Секція чотири */

.project-list,
.project-list-five {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

/* section-five Секція пять */
/* section-designer Секція дизайнер */
/* section-fouter Секція футер */

.social-icons-two {
  justify-content: center;
  align-items: center;
}

.social-icon-footer {
  width: 36px;
  height: 36px;
}

/* Стрілки для прокручування */

.scroll-buttons {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  z-index: 1000;
}

.scroll-btn {
  background-color: transparent;
  color: #1e8499;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-btn:hover {
  background-color: transparent;
}
