h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol,
body {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

button {
  color: currentColor;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a,
button {
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  min-width: 350px;
  max-width: 411px;
  padding: 80px 10px;
}

body {
  color: black;
  max-width: 411px;
  margin: 0 auto;

  background: linear-gradient(
    -225deg,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 25%,
    rgba(71, 71, 71, 1) 36%,
    rgba(44, 44, 44, 1) 43.5%,
    rgba(17, 17, 17, 1) 58%,
    rgba(43, 43, 43, 1) 73.75%,
    rgba(0, 0, 0, 1) 82.25%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
}

.auth-buttons,
.menu {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header {
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}

.main-logo-text {
  margin-left: 25px;
}

.container-section-one,
.container-section-two,
.container-section-three,
.container-section-four,
.container-section-fouter,
.container-section-five,
.container-section-designer,
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* відкриття мобільного меню ксс ПОЧАТОК */
/* В стилях додаємо накладку для мобільного меню */
.mobile-menu-overlay {
  display: none; /* Спочатку накладка прихована */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9; /* Щоб вона була поверх основного контенту */
}

.mobile-menu.open ~ .mobile-menu-overlay {
  display: block; /*Показати накладку, коли меню відкрите  */
}

/* Мобільне меню */
.mobile-menu {
  padding: 10px 30px;
  position: fixed;
  top: 0;
  right: -100%; /* Початково приховане за межами екрану */
  width: 80%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10; /* Вище накладки */
  transition: right 0.5s ease-in-out;
}

.mobile-menu.open {
  right: 0; /* Відкривається в межах екрану */
}

.close-mobile-menu {
  border: none;
  padding: 0;
  background-color: transparent;
}

.mobile-menu-btn {
  text-align: right;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mobile-menu-link {
  color: #22343d;
}

.mobile-menu-social-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.mobile-full-item {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

/* відкриття мобільного меню ксс КІНЕЦЬ */

.social-title {
  margin-bottom: 20px;
}

.social-icons-two {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
/* section-header Секція хедер */
/* main-foto Секція головного фото */
/* section-one Секція один */
/* section-two Секція два */
/* section-three - Секція три */
.container-section-three-ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: left;
}

.container-section-three-ul-all,
.container-section-five-ul-all,
.container-section-four-ul-all {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* section-four Секція чотири */

.project-list,
.project-list-five {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

/* section-five Секція пять */
/* section-designer Секція дизайнер */
/* section-fouter Секція футер */
